{block second-navbar-title}Značky{/block}
{block content}

    {include actions.latte}
    {include grid.latte}
    {include modal.add.latte}
    {include modal.update.latte}

{/block}

{block scripts}
    <script src="js/home.js"></script>
{/block}